<article class="message <%= 'message--me' if message.user == current_user%>">
  <div class="message__avatar message__avatar--bottom">
    <%= image_tag message.user.avatar_url, class: 'avatar' %>
  </div>
  <div class="message__bubble message__bubble--<%= message.user == current_user ? 'border' : 'fill' %>">
    <div class="message__header">
      <div class="message__author">
        <%= message.user == current_user ? 'Me' :  message.user.first_name %>
      </div>
      <div class="message__time"><%= message.message_time %></div>
    </div>
    <div class="message__body">
      <% message.body.lines.each do |line| %>
        <p><%= line %></p>
      <% end %>
    </div>
  </div>
</article>